@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CamptonBook";
  src: url(../Campton/CamptonBook.otf);
}
.CamptonBook {
  font-family: "CamptonBook";
}

@font-face {
  font-family: "CamptonMedium";
  src: url(../Campton/CamptonMedium.otf);
}
.CamptonMedium {
  font-family: "CamptonMedium";
}

@font-face {
  font-family: "CamptonSemiBold";
  src: url(../Campton/CamptonSemiBold.otf);
}
.CamptonSemiBold {
  font-family: "CamptonSemiBold";
}

@font-face {
  font-family: "CamptonBold";
  src: url(../Campton/CamptonBold.otf);
}
.CamptonBold {
  font-family: "CamptonBold";
}

@font-face {
  font-family: "CamptonExtraBold";
  src: url(../Campton/CamptonExtraBold.otf);
}
.CamptonExtraBold {
  font-family: "CamptonExtraBold";
}

.transition-all {
  transition: all 0.3s ease-in-out;
}

/* Lufag */

@font-face {
  font-family: "Lufga-Regular-2";
  src: url(../Lufag/Lufag/Lufga-Regular-2.ttf);
}
.Lufga-Regular-2 {
  font-family: "Lufag-Regular-2";
}

@font-face {
  font-family: "Lufga-Light-2";
  src: url(../Lufag/Lufag/Lufga-Light-2.ttf);
}
.Lufga-Light-2 {
  font-family: "Lufga-Light-2";
}

@font-face {
  font-family: "Lufga-Bold-2";
  src: url(../Lufag/Lufag/Lufga-Bold-2.ttf);
}
.Lufga-Bold-2 {
  font-family: "Lufag-Bold-2";
}

@font-face {
  font-family: "Lufga-ExtraBold-2";
  src: url(../Lufag/Lufag/Lufga-ExtraBold-2.ttf);
}
.Lufga-ExtraBold-2 {
  font-family: "Lufag-ExtraBold-2";
}
