@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CamptonBook";
  src: url(../Campton/CamptonBook.otf);
}
.CamptonBook {
  font-family: "CamptonBook";
}

@font-face {
  font-family: "CamptonMedium";
  src: url(../Campton/CamptonMedium.otf);
}
.CamptonMedium {
  font-family: "CamptonMedium";
}

@font-face {
  font-family: "CamptonSemiBold";
  src: url(../Campton/CamptonSemiBold.otf);
}
.CamptonSemiBold {
  font-family: "CamptonSemiBold";
}

@font-face {
  font-family: "CamptonBold";
  src: url(../Campton/CamptonBold.otf);
}
.CamptonBold {
  font-family: "CamptonBold";
}

@font-face {
  font-family: "CamptonExtraBold";
  src: url(../Campton/CamptonExtraBold.otf);
}
.CamptonExtraBold {
  font-family: "CamptonExtraBold";
}

.transition-all {
  transition: all 0.3s ease-in-out;
}

/* Lufag */
@font-face {
  font-family: "LufgaLight";
  src: url(../Lufag/Lufag/Lufga-Light-2.ttf);
}
.LufgaLight {
  font-family: "LufgaLight";
}

@font-face {
  font-family: "LufgaBook";
  src: url(../Lufag/Lufag/Lufga-Regular-2.ttf);
}
.LufgaBook {
  font-family: "LufgaBook";
}

@font-face {
  font-family: "LufgaMedium";
  src: url(../Lufag/Lufag/Lufga-Medium-2.ttf);
}
.LufgaMedium {
  font-family: "LufgaMedium";
}

@font-face {
  font-family: "LufgaSemiBold";
  src: url(../Lufag/Lufag/Lufga-SemiBold-2.ttf);
}
.LufgaSemiBold {
  font-family: "LufgaSemiBold";
}

@font-face {
  font-family: "LufgaBold";
  src: url(../Lufag/Lufag/Lufga-Bold-2.ttf);
}
.LufgaBold {
  font-family: "LufgaBold";
}

@font-face {
  font-family: "LufgaExtraBold";
  src: url(../Lufag/Lufag/Lufga-ExtraBold-2.ttf);
}
.LufgaExtraBold {
  font-family: "LufagExtraBold";
}
